
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(233, 199, 50);
    padding: 50px;
    border-radius: 50px;
    border-style:double;
    border-color: blue;
}

#spanID{
    font-size: 18px;
    margin: 50px;
}
